WPF_TEST/.vs/test/v16/Server/sqlite3/storage.ide-shm
WPF_TEST/.vs/test/v16/Server/sqlite3/storage.ide-wal
WPF_TEST/packages/DevExpressMvvm.19.2.3/.signature.p7s
WPF_TEST/packages/DevExpressMvvm.19.2.3/DevExpressMvvm.19.2.3.nupkg
WPF_TEST/packages/DevExpressMvvm.19.2.3/lib/net452/DevExpress.Mvvm.dll
WPF_TEST/packages/DevExpressMvvm.19.2.3/lib/net452/DevExpress.Mvvm.pdb
WPF_TEST/packages/DevExpressMvvm.19.2.3/lib/net452/DevExpress.Mvvm.UI.dll
WPF_TEST/packages/DevExpressMvvm.19.2.3/lib/net452/DevExpress.Mvvm.UI.pdb
WPF_TEST/packages/DevExpressMvvm.19.2.3/lib/netcoreapp3.0/DevExpress.Mvvm.dll
WPF_TEST/packages/DevExpressMvvm.19.2.3/lib/netcoreapp3.0/DevExpress.Mvvm.pdb
WPF_TEST/packages/DevExpressMvvm.19.2.3/lib/netcoreapp3.0/DevExpress.Mvvm.UI.dll
WPF_TEST/packages/DevExpressMvvm.19.2.3/lib/netcoreapp3.0/DevExpress.Mvvm.UI.pdb
WPF_TEST/packages/Fody.6.0.6/.signature.p7s
WPF_TEST/packages/Fody.6.0.6/Fody.6.0.6.nupkg
WPF_TEST/packages/Fody.6.0.6/License.txt
WPF_TEST/packages/Fody.6.0.6/build/Fody.targets
WPF_TEST/packages/Fody.6.0.6/netclassictask/Fody.dll
WPF_TEST/packages/Fody.6.0.6/netclassictask/FodyCommon.dll
WPF_TEST/packages/Fody.6.0.6/netclassictask/FodyHelpers.dll
WPF_TEST/packages/Fody.6.0.6/netclassictask/FodyIsolated.dll
WPF_TEST/packages/Fody.6.0.6/netclassictask/Mono.Cecil.dll
WPF_TEST/packages/Fody.6.0.6/netclassictask/Mono.Cecil.pdb
WPF_TEST/packages/Fody.6.0.6/netclassictask/Mono.Cecil.Pdb.dll
WPF_TEST/packages/Fody.6.0.6/netclassictask/Mono.Cecil.Pdb.pdb
WPF_TEST/packages/Fody.6.0.6/netclassictask/Mono.Cecil.Rocks.dll
WPF_TEST/packages/Fody.6.0.6/netclassictask/Mono.Cecil.Rocks.pdb
WPF_TEST/packages/Fody.6.0.6/netstandardtask/Fody.dll
WPF_TEST/packages/Fody.6.0.6/netstandardtask/FodyCommon.dll
WPF_TEST/packages/Fody.6.0.6/netstandardtask/FodyHelpers.dll
WPF_TEST/packages/Fody.6.0.6/netstandardtask/FodyIsolated.dll
WPF_TEST/packages/Fody.6.0.6/netstandardtask/Mono.Cecil.dll
WPF_TEST/packages/Fody.6.0.6/netstandardtask/Mono.Cecil.pdb
WPF_TEST/packages/Fody.6.0.6/netstandardtask/Mono.Cecil.Pdb.dll
WPF_TEST/packages/Fody.6.0.6/netstandardtask/Mono.Cecil.Pdb.pdb
WPF_TEST/packages/Fody.6.0.6/netstandardtask/Mono.Cecil.Rocks.dll
WPF_TEST/packages/Fody.6.0.6/netstandardtask/Mono.Cecil.Rocks.pdb
WPF_TEST/packages/PropertyChanged.Fody.3.2.1/.signature.p7s
WPF_TEST/packages/PropertyChanged.Fody.3.2.1/PropertyChanged.Fody.3.2.1.nupkg
WPF_TEST/packages/PropertyChanged.Fody.3.2.1/build/PropertyChanged.Fody.props
WPF_TEST/packages/PropertyChanged.Fody.3.2.1/lib/net40/PropertyChanged.dll
WPF_TEST/packages/PropertyChanged.Fody.3.2.1/lib/net40/PropertyChanged.xml
WPF_TEST/packages/PropertyChanged.Fody.3.2.1/lib/netstandard1.0/PropertyChanged.dll
WPF_TEST/packages/PropertyChanged.Fody.3.2.1/lib/netstandard1.0/PropertyChanged.xml
WPF_TEST/packages/PropertyChanged.Fody.3.2.1/weaver/PropertyChanged.Fody.dll
WPF_TEST/packages/PropertyChanged.Fody.3.2.1/weaver/PropertyChanged.Fody.xcf
WPF_TEST/packages/Splat.9.3.4/.signature.p7s
WPF_TEST/packages/Splat.9.3.4/Splat.9.3.4.nupkg
WPF_TEST/packages/Splat.9.3.4/lib/net461/Splat.dll
WPF_TEST/packages/Splat.9.3.4/lib/net461/Splat.xml
WPF_TEST/packages/Splat.9.3.4/lib/netstandard2.0/Splat.dll
WPF_TEST/packages/Splat.9.3.4/lib/netstandard2.0/Splat.xml
WPF_TEST/packages/Splat.9.3.4/lib/uap10.0.16299/Splat.dll
WPF_TEST/packages/Splat.9.3.4/lib/uap10.0.16299/Splat.pri
WPF_TEST/packages/Splat.9.3.4/lib/uap10.0.16299/Splat.xml
WPF_TEST/packages/Splat.9.3.4/LICENSE/LICENSE
WPF_TEST/packages/Splat.Drawing.9.3.4/.signature.p7s
WPF_TEST/packages/Splat.Drawing.9.3.4/Splat.Drawing.9.3.4.nupkg
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/monoandroid90/Splat.Drawing.dll
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/monoandroid90/Splat.Drawing.pdb
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/monoandroid90/Splat.Drawing.xml
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/net461/Splat.Drawing.dll
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/net461/Splat.Drawing.xml
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/netcoreapp3.0/Splat.Drawing.dll
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/netcoreapp3.0/Splat.Drawing.xml
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/netstandard2.0/Splat.Drawing.dll
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/netstandard2.0/Splat.Drawing.xml
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/tizen40/Splat.Drawing.dll
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/tizen40/Splat.Drawing.xml
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/uap10.0.16299/Splat.Drawing.dll
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/uap10.0.16299/Splat.Drawing.pri
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/uap10.0.16299/Splat.Drawing.xml
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/xamarinios10/Splat.Drawing.dll
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/xamarinios10/Splat.Drawing.xml
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/xamarinmac20/Splat.Drawing.dll
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/xamarinmac20/Splat.Drawing.xml
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/xamarintvos10/Splat.Drawing.dll
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/xamarintvos10/Splat.Drawing.xml
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/xamarinwatchos10/Splat.Drawing.dll
WPF_TEST/packages/Splat.Drawing.9.3.4/lib/xamarinwatchos10/Splat.Drawing.xml
WPF_TEST/packages/Splat.Drawing.9.3.4/LICENSE/LICENSE
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/.signature.p7s
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/dotnet_library_license.txt
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/System.Drawing.Primitives.4.3.0.nupkg
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/ThirdPartyNotices.txt
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/lib/MonoAndroid10/_._
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/lib/MonoTouch10/_._
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/lib/net45/System.Drawing.Primitives.dll
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/lib/netstandard1.1/System.Drawing.Primitives.dll
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/lib/xamarinios10/_._
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/lib/xamarinmac20/_._
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/lib/xamarintvos10/_._
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/lib/xamarinwatchos10/_._
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/ref/MonoAndroid10/_._
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/ref/MonoTouch10/_._
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/ref/net45/System.Drawing.Primitives.dll
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/ref/netstandard1.1/System.Drawing.Primitives.dll
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/ref/xamarinios10/_._
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/ref/xamarinmac20/_._
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/ref/xamarintvos10/_._
WPF_TEST/packages/System.Drawing.Primitives.4.3.0/ref/xamarinwatchos10/_._
WPF_TEST/packages/System.Reactive.4.3.2/.signature.p7s
WPF_TEST/packages/System.Reactive.4.3.2/System.Reactive.4.3.2.nupkg
WPF_TEST/packages/System.Reactive.4.3.2/build/netcoreapp3.0/System.Reactive.dll
WPF_TEST/packages/System.Reactive.4.3.2/build/netcoreapp3.0/System.Reactive.targets
WPF_TEST/packages/System.Reactive.4.3.2/build/netcoreapp3.0/System.Reactive.xml
WPF_TEST/packages/System.Reactive.4.3.2/buildTransitive/netcoreapp3.0/System.Reactive.targets
WPF_TEST/packages/System.Reactive.4.3.2/lib/net46/System.Reactive.dll
WPF_TEST/packages/System.Reactive.4.3.2/lib/net46/System.Reactive.xml
WPF_TEST/packages/System.Reactive.4.3.2/lib/netcoreapp3.0/_._
WPF_TEST/packages/System.Reactive.4.3.2/lib/netstandard2.0/System.Reactive.dll
WPF_TEST/packages/System.Reactive.4.3.2/lib/netstandard2.0/System.Reactive.xml
WPF_TEST/packages/System.Reactive.4.3.2/lib/uap10.0/System.Reactive.dll
WPF_TEST/packages/System.Reactive.4.3.2/lib/uap10.0/System.Reactive.pri
WPF_TEST/packages/System.Reactive.4.3.2/lib/uap10.0/System.Reactive.xml
WPF_TEST/packages/System.Reactive.4.3.2/lib/uap10.0.16299/System.Reactive.dll
WPF_TEST/packages/System.Reactive.4.3.2/lib/uap10.0.16299/System.Reactive.pri
WPF_TEST/packages/System.Reactive.4.3.2/lib/uap10.0.16299/System.Reactive.xml
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/.signature.p7s
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/LICENSE.TXT
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/System.Runtime.CompilerServices.Unsafe.4.5.2.nupkg
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/THIRD-PARTY-NOTICES.TXT
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/useSharedDesignerContext.txt
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/version.txt
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
WPF_TEST/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/.signature.p7s
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/LICENSE.TXT
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/System.Threading.Tasks.Extensions.4.5.3.nupkg
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/THIRD-PARTY-NOTICES.TXT
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/useSharedDesignerContext.txt
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/version.txt
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/lib/MonoAndroid10/_._
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/lib/MonoTouch10/_._
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netcoreapp2.1/_._
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netstandard1.0/System.Threading.Tasks.Extensions.dll
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netstandard1.0/System.Threading.Tasks.Extensions.xml
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netstandard2.0/System.Threading.Tasks.Extensions.dll
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netstandard2.0/System.Threading.Tasks.Extensions.xml
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.dll
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.xml
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/lib/xamarinios10/_._
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/lib/xamarinmac20/_._
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/lib/xamarintvos10/_._
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/lib/xamarinwatchos10/_._
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/ref/MonoAndroid10/_._
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/ref/MonoTouch10/_._
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/ref/netcoreapp2.1/_._
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/ref/xamarinios10/_._
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/ref/xamarinmac20/_._
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/ref/xamarintvos10/_._
WPF_TEST/packages/System.Threading.Tasks.Extensions.4.5.3/ref/xamarinwatchos10/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/.signature.p7s
WPF_TEST/packages/System.ValueTuple.4.5.0/LICENSE.TXT
WPF_TEST/packages/System.ValueTuple.4.5.0/System.ValueTuple.4.5.0.nupkg
WPF_TEST/packages/System.ValueTuple.4.5.0/THIRD-PARTY-NOTICES.TXT
WPF_TEST/packages/System.ValueTuple.4.5.0/useSharedDesignerContext.txt
WPF_TEST/packages/System.ValueTuple.4.5.0/version.txt
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/MonoTouch10/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.dll
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.xml
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.dll
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.xml
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.dll
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.xml
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/netstandard2.0/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/xamarinios10/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/xamarinmac20/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/xamarintvos10/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/ref/MonoTouch10/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/ref/net461/System.ValueTuple.dll
WPF_TEST/packages/System.ValueTuple.4.5.0/ref/net47/System.ValueTuple.dll
WPF_TEST/packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/ref/netstandard2.0/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
WPF_TEST/packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/ref/xamarinios10/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/ref/xamarinmac20/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/ref/xamarintvos10/_._
WPF_TEST/packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/_._
WPF_TEST/test/bin/Debug/DevExpress.Mvvm.dll
WPF_TEST/test/bin/Debug/DevExpress.Mvvm.pdb
WPF_TEST/test/bin/Debug/DevExpress.Mvvm.UI.dll
WPF_TEST/test/bin/Debug/DevExpress.Mvvm.UI.pdb
WPF_TEST/test/bin/Debug/DynamicData.dll
WPF_TEST/test/bin/Debug/DynamicData.xml
WPF_TEST/test/bin/Debug/ReactiveUI.dll
WPF_TEST/test/bin/Debug/ReactiveUI.WPF.dll
WPF_TEST/test/bin/Debug/ReactiveUI.WPF.xml
WPF_TEST/test/bin/Debug/ReactiveUI.xml
WPF_TEST/test/bin/Debug/Splat.dll
WPF_TEST/test/bin/Debug/Splat.Drawing.dll
WPF_TEST/test/bin/Debug/Splat.Drawing.xml
WPF_TEST/test/bin/Debug/Splat.xml
WPF_TEST/test/bin/Debug/System.Reactive.dll
WPF_TEST/test/bin/Debug/System.Reactive.xml
WPF_TEST/test/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
WPF_TEST/test/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
WPF_TEST/test/bin/Debug/System.Threading.Tasks.Extensions.dll
WPF_TEST/test/bin/Debug/System.Threading.Tasks.Extensions.xml
WPF_TEST/test/bin/Debug/System.ValueTuple.dll
WPF_TEST/test/bin/Debug/System.ValueTuple.xml
WPF_TEST/test/obj/Debug/build.force
WPF_TEST/test/obj/Debug/GeneratedInternalTypeHelper.g.cs
WPF_TEST/test/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
WPF_TEST/test/obj/Debug/test.csproj.CopyComplete
WPF_TEST/test/obj/Debug/test.csproj.Fody.CopyLocal.cache
WPF_TEST/test/obj/Debug/App.g.cs
WPF_TEST/test/obj/Debug/App.g.i.cs
WPF_TEST/test/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WPF_TEST/test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WPF_TEST/test/obj/Debug/MainWindow.baml
WPF_TEST/test/obj/Debug/MainWindow.g.cs
WPF_TEST/test/obj/Debug/MainWindow.g.i.cs
WPF_TEST/test/obj/Debug/test.csproj.FileListAbsolute.txt
WPF_TEST/test/obj/Debug/test.csproj.GenerateResource.cache
WPF_TEST/test/obj/Debug/test.csprojAssemblyReference.cache
WPF_TEST/test/obj/Debug/WPF_TEST.exe
WPF_TEST/test/obj/Debug/WPF_TEST.g.resources
WPF_TEST/test/obj/Debug/WPF_TEST.pdb
WPF_TEST/test/obj/Debug/WPF_TEST_MarkupCompile.cache
WPF_TEST/test/obj/Debug/WPF_TEST_MarkupCompile.i.cache
WPF_TEST/test/obj/Debug/WPF_TEST_MarkupCompile.lref
WPF_TEST/test/bin/Debug/WPF_TEST.exe
WPF_TEST/test/bin/Debug/WPF_TEST.pdb
WPF_TEST/.vs/test/v16/.suo
WPF_TEST/.vs/test/v16/Server/sqlite3/storage.ide
